{% extends "base.html" %}

{% block title %}Add actor{% endblock %}

{% block content %}
    <h1>Add actor</h1>
    <div class="actor-add">
        <form action="{% url 'movies:actor-add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="card text-left mb-4 role-inline" style="min-width: 350px;">
                <div class="card-header text-white" style="background-color: #8080ff;">
                    <h3>Roles</h3>
                    <small><em>Optional. You can add it later.</em></small>
                </div>
                <ul class="list-group list-group-flush">
                    {{ role_formset.management_form }}
                    {% for form in role_formset.forms %}
                        <li class="list-group-item py-2">
                            <div class="row align-items-center justify-content-around py-1 my-1">
                                {{ form.non_field_errors }}
                                <div class="col-md-12 col-lg-4 col-xl-6">
                                    {{ form.movie.errors }}
                                    {{ form.movie.label_tag }}
                                    <span class="ml-sm-4 ml-lg-0 ml-xl-4">
                                        {{ form.movie }}
                                    </span>
                                </div>
                                <div class="col-md-12 mt-sm-4 mt-lg-1 col-lg-4 col-xl-6">
                                    {{ form.role.errors }}
                                    {{ form.role.label_tag }}
                                    <span class="ml-sm-4 ml-lg-0 ml-xl-4">
                                        {{ form.role }}
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <input type="button" value="+ Add another role" id="add_more" class="m-2">
                </ul>
            </div>
            <p><input type="submit" value="SAVE"></p>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function cloneMore(selector, type) {
            let newElement = $(selector).clone(true);
            let total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                let name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                let id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                let newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }

        $('#add_more').click(function() {
            cloneMore('li.list-group-item:last', 'role');
            console.log('click');
        });
    </script>
{% endblock %}