{% extends "base.html" %}

{% block title %}Edit {{ actor }}{% endblock %}

{% block content %}
    <h1>
        Edit {{ actor }}
    </h1>
    <form action="{% url 'movies:actor-edit' actor.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="actor-field">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="form-group row py-2 my-2">
                    <div class="col-12">
                        {{ field.errors }}
                    </div>
                    <div class="col-md-4">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-md-8 text-left">
                        {{ field }}
                        {% if field.help_text %}
                            <span class="helptext m-2">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="card text-left mb-4 role-inline" style="min-width: 350px;">
            <div class="card-header text-white" style="background-color: #8080ff;">
                <h3>Roles</h3>
                <small><em>Edit</em></small>
            </div>
            <ul class="list-group list-group-flush">
                {{ role_formset.management_form }}
                {% for error in role_formset.non_form_errors %}
                    <div class="col-12 alert alert-danger mb-0">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% for form in role_formset.forms %}
                    <li class="list-group-item py-2">
                        <div class="row align-items-center py-2 my-2">
                            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                            <div class="col-12">
                                {{ form.non_field_errors }}
                            </div>
                            <div class="col-12 text-right">
                                {% if form.instance.pk %}
                                    Delete? {{ form.DELETE }}
                                {% endif %}
                            </div>
                            <div class="row col-12 col-lg-6">
                                <div class="col-12">
                                    {{ form.movie.errors }}
                                </div>
                                <div class="col-3">
                                    {{ form.movie.label_tag }}
                                </div>
                                <div class="col-3">
                                    {{ form.movie }}
                                </div>
                            </div>
                            <div class="row col-12 col-lg-6">
                                <div class="col-12">
                                    {{ form.role.errors }}
                                </div>
                                <div class="col-3">
                                    {{ form.role.label_tag }}
                                </div>
                                <div class="col-3">
                                    {{ form.role }}
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <input type="button" value="+ Add another role" id="add_more" class="m-2">
            </ul>
        </div>
        <div class="movie-edit-options">
            <a href="{% url 'movies:actor-detail' actor.pk %}" class="btn-secondary">BACK</a>
            <input type="submit" value="Save changes">
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function cloneMore(selector, type) {
            let newElement = $(selector).clone(true);
            let total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function() {
                let name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
                let id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                let newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }

        $('#add_more').click(function() {
            cloneMore('li.list-group-item:last', 'role');
            console.log('click');
        });
    </script>
{% endblock %}