{% load static %}

<div class="card-group">
    {% for director in directors %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">
                    {{ director }}
                </h4>
            </div>
            {% if director.has_image %}
                <img class="card-img" src="{{ director.image.url }}" alt="{{ director.pk }}">
            {% else %}
                <img class="card-img" src="https://zapodaj.net/images/70c8d7ca43df1.jpg" alt="{{ director.pk }}">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
