{% load static %}

<div class="card-group">
    {% for movie in movies %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">
                    <a href="{% url 'movies:movie-detail' movie.slug %}">
                        {{ movie.title }} ({{ movie.year_of_production }})
                    </a>
                </h4>
            </div>
            <div data-toggle="popover"
                 data-trigger="hover"
                 title="Description"
                 data-content="{{ movie.short_description }}">

                {% if movie.has_image %}
                    <img class="card-img" src="{{ movie.image.url }}" alt="{{ movie.slug }}">
                {% else %}
                    <img class="card-img" src="https://zapodaj.net/images/70c8d7ca43df1.jpg" alt="{{ movie.slug }}">
                {% endif %}

            </div>
        </div>
    </div>
    {% endfor %}
</div>
