{% extends "base.html" %}

{% load static %}

{% block title %}{{ movie }}{% endblock %}

{% block content %}

    {# Delete Modal #}
    <div class="modal fade" id="movie-delete-modal" tabindex="-1" role="dialog" aria-labelledby="movie-delete-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movie-delete-modal-label"><strong>Delete {{ movie }}</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete movie {{ movie }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO, TAKE ME BACK.</button>
                    <form action="{% url 'movies:movie-delete' movie.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">YES, I'M SURE.</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center text-danger modal-error d-none"></div>
            </div>
        </div>
    </div>

    <div class="movie-detail">
        <div class="card shadow" style="min-width: 323px">
            <div class="card-header">
                {% if user.is_authenticated and user.is_admin or user == movie.added_by %}
                    <div class="container">
                        <div class="row align-items-center">
                            <h4 class="col offset-lg-3 text-center font-weight-bold text-primary my-2">
                                {{ movie.title }} ({{ movie.year_of_production }})
                            </h4>
                            <div class="movie-card-options col-12 col-lg-3 text-center text-lg-right mt-1">
                                <a href="{% url 'movies:movie-edit' movie.slug %}" class="btn btn-primary mb-1">EDIT</a>
                                <button data-toggle="modal" data-target="#movie-delete-modal" class="btn btn-danger mb-1">DELETE</button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h4 class="text-center font-weight-bold text-primary my-2">
                        {{ movie.title }} ({{ movie.year_of_production }})
                    </h4>
                {% endif %}
            </div>
            <div class="card-body p-0">
                {% if movie.has_image %}
                    <img class="card-img-left mr-4" src="{{ movie.image.url }}" alt="{{ movie.slug }}">
                {% else %}
                    <img class="card-img-left mr-4" src="https://zapodaj.net/images/70c8d7ca43df1.jpg" alt="{{ movie.slug }}">
                {% endif %}
                <div class="px-4 pb-4">
                    <p class="card-text mt-4 text-justify">
                        <strong>Description:</strong>
                        {{ movie.short_description|default:'(not given)' }}
                    </p>
                    {% if movie.directors.all %}
                        <p class="card-text text-left">
                            <strong>Direction:</strong>
                            {% for director in movie.directors.all %}
                                {{ director }},
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if movie.actors.all %}
                        <p class="card-text text-left">
                            <strong>Stars:</strong>
                            {% for actor in movie.actors.all %}
                                <a href="{% url 'movies:actor-detail' actor.pk %}">
                                    {{ actor }},
                                </a>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer text-left">
                <div>
                    <span style="margin-right: 10px;">
                        <strong>Created Date:</strong> {{ movie.date_of_creation }}
                    </span>
                    <span style="white-space: nowrap;">
                        <strong>Update Date:</strong> {{ movie.update_date }}
                    </span>
                    <span class="float-right">
                        <span class="text-muted"><em>by {{ movie.added_by }}</em></span>
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="card movie-cast" style="min-width: 323px">
            <div class="card-header">
                <h3 class="font-weight-bold">Cast</h3>
            </div>
            <ul class="list-group list-group-flush text-left">
                {% for actor in movie.actors.all %}
                    <li class="list-group-item">
                        {% if actor.has_image %}
                            <a href="{% url 'movies:actor-detail' actor.pk %}">
                                <img class="cast-img mr-2" src="{{ actor.image.url }}" alt="{{ actor.pk }}">
                            </a>
                        {% else %}
                            <a href="{% url 'movies:actor-detail' actor.pk %}">
                                <img class="cast-img mr-2" src="https://zapodaj.net/images/70c8d7ca43df1.jpg" alt="{{ movie.slug }}">
                            </a>
                        {% endif %}
                        <a href="{% url 'movies:actor-detail' actor.pk %}">
                            {{ actor }}
                        </a>
                            as
                            {% for role in actor.role.all %}
                                {{ role }}
                            {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}