{% extends "base.html" %}

{% block title %}Edit {{ movie }}{% endblock %}

{% block content %}
    <h1>
        Edit {{ movie }}
    </h1>
    <form action="{% url 'movies:movie-edit' movie.slug %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="edit-movie-form">
            {% include "movies/form_render.html" %}
        </div>
        <div class="movie-edit-options">
            <a href="{% url 'movies:movie-detail' movie.slug %}" class="btn-secondary">BACK</a>
            <input type="submit" value="Save changes">
        </div>
    </form>
{% endblock %}