{% extends "base.html" %}

{% block title %}Edit {{ movie }}{% endblock %}

{% block content %}
    <h1>
        Edit {{ movie }}
    </h1>
    <form action="{% url 'movies:movie-edit' movie.slug %}" method="post" enctype="multipart/form-data">
        <div class="edit-movie-form">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="form-group row py-2 my-2">
                    <div class="col-12">
                        {{ field.errors }}
                    </div>
                    <div class="col-md-4">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-md-8 text-left">
                        {{ field }}
                        {% if field.help_text %}
                            <span class="helptext m-2">{{ field.help_text|safe }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="movie-edit-options">
            <a href="{% url 'movies:movie-detail' movie.slug %}" class="btn-secondary">BACK</a>
            <input type="submit" value="Save changes">
        </div>
    </form>
{% endblock %}