{% extends "base.html" %}

{% load static %}

{% block title %}{{ movie }}{% endblock %}

{% block content %}

    {# Delete Modal #}
    <div class="modal fade" id="movie-delete-modal" tabindex="-1" role="dialog" aria-labelledby="movie-delete-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="movie-delete-modal-label"><strong>Delete {{ movie }}</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete movie {{ movie }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">NO, TAKE ME BACK.</button>
                    <form action="{% url 'movies:movie-delete' movie.slug %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">YES, I'M SURE.</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center text-danger modal-error d-none"></div>
            </div>
        </div>
    </div>

    <div class="movie-detail">
        <div class="card shadow" style="min-width: 323px">
            <div class="card-header py-3">
                {% if user.is_authenticated and user.is_admin or user == movie.added_by %}
                    <span class="movie-card-options float-right">
                        <a href="{% url 'movies:movie-edit' movie.slug %}" class="btn btn-primary">EDIT</a>
                        <button data-toggle="modal" data-target="#movie-delete-modal" class="btn btn-danger">DELETE</button>
                    </span>
                {% endif %}
                <h4 class="m-0 font-weight-bold text-primary">
                    {{ movie.title }} ({{ movie.year_of_production }})
                </h4>
            </div>
            <div class="card-body">
                {% if movie.has_image %}
                    <img class="card-img-left" src="{{ movie.image.url }}" alt="{{ movie.slug }}">
                {% else %}
                    <img class="card-img-left" src="https://zapodaj.net/images/70c8d7ca43df1.jpg" alt="{{ movie.slug }}">
                {% endif %}
                {% if movie.short_description %}
                    <p class="card-text">
                        <strong>Description:</strong>
                        {{ movie.short_description }}
                    </p>
                {% endif %}
                {% if movie.directors.all %}
                    <p class="card-text">
                        <strong>Direction:</strong>
                        {% for director in movie.directors.all %}
                            {{ director }},
                        {% endfor %}
                    </p>
                {% endif %}
                {% if movie.actors.all %}
                    <p class="card-text">
                        <strong>Stars:</strong>
                        {% for actor in movie.actors.all %}
                            <a href="{% url 'movies:actor-detail' actor.pk %}">
                                {{ actor }},
                            </a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="card-footer">
                <div>
                    <span style="margin-right: 10px;">
                        <strong>Created Date:</strong> {{ movie.date_of_creation }}
                    </span>
                    <span style="white-space: nowrap;">
                        <strong>Update Date:</strong> {{ movie.update_date }}
                    </span>
                    <span class="float-right">
                        <span class="text-muted"><em>by {{ movie.added_by }}</em></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}