{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <header>
        <span class="logo">Movies App</span>
        <span class="action">
            {% if request.user.is_authenticated %}
            <span class="logged">Logged in: {{ user.username }}</span>
                <a href="{% url 'accounts:logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Log in</a>  <a href="{% url 'accounts:signup' %}">Register</a>
            {% endif %}
        </span>
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>Internship at Idego - Elżbieta Malinowska</p>
    </footer>

</body>
</html>